In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv(r"F:\Jupyter\data_jobs.csv")
df["job_posted_date"]=pd.to_datetime(df["job_posted_date"])

In [9]:
df_us_software_pivot=pd.read_csv("F:\Jupyter\software_jobs.csv",index_col='job_posted_month')
df_us_software_pivot

<>:1: SyntaxWarning: invalid escape sequence '\J'
<>:1: SyntaxWarning: invalid escape sequence '\J'
C:\Users\HP\AppData\Local\Temp\ipykernel_12612\1057041173.py:1: SyntaxWarning: invalid escape sequence '\J'
  df_us_software_pivot=pd.read_csv("F:\Jupyter\software_jobs.csv",index_col='job_posted_month')

,Front-End Developer,Back-End Developer,Full-Stack Developer,UI/UX Designer
job_posted_month,,,,
January,13619,9827,5108,4348
February,11456,9116,7298,4284
March,11102,8178,5814,4159
April,14037,9209,7232,4220
May,12126,8864,6718,4980
June,12003,8065,5902,4781
July,11914,8061,6839,4344
August,11571,8191,7413,4104
September,14016,8447,6139,4094
October,11419,8476,5026,4389
November,13771,9034,5653,4099
December,14033,9232,6731,4367

In [11]:
df_usa_pivot.merge(df_us_software_pivot,on='job_posted_month')

NameError: name 'df_usa_pivot' is not defined